@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    view-transition-name: root;
}

@view-transition {
    navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

::view-transition-group(root) {
    animation-duration: 0.5s;
}